.root{
	-fx-background-image: url("/canton_transparent.PNG");
	-fx-background-position: center;
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
	-fx-background-color: white;
	-fx-font-family: Georgia, Verdana, sans-serif;
}


.buttonGrid{
	-fx-hgap: 20;
	-fx-vgap: 15;
	-fx-alignment: center;
	-fx-font-size: 14px;
	-fx-padding: 20;
	-fx-font-weight: bold;
}

.lbHeading{
	-fx-font-size: 40px;
}

.lbTeaser{
	-fx-font-size: 30px;
	-fx-padding: 20;
}

.center{
	-fx-alignment: center;
}