.center{
	-fx-background-image: url("/canton_transparent.PNG");
	-fx-background-position: center;
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
	-fx-background-color: white;
	-fx-font-family: Georgia, Verdana, sans-serif;
	-fx-alignment: center;
}


.buttonGrid{
	-fx-hgap: 20;
	-fx-vgap: 15;
	-fx-alignment: center;
	-fx-font-size: 14px;
	-fx-padding: 20;
	-fx-font-weight: bold;
}

.lbHeading{
	-fx-font-size: 40px;
}

.lbTeaser{
	-fx-font-size: 30px;
	-fx-padding: 20;
}

.cantonView{
	-fx-background-color: white;
	-fx-font-family: Georgia, Verdana, sans-serif;
}

.middle{
	-fx-spacing: 15;
	-fx-font-size: 12px;
}

.left{
	-fx-padding: 30;
}

.cantonViewLeft{
	-fx-hgap: 20;
	-fx-vgap: 30;
	-fx-alignment: center;
}

.right{
	-fx-padding: 30;
}

.cantonViewRight{
	-fx-hgap: 50;
	-fx-vgap: 30;
	-fx-alignment: center;
}


.buttonCanton{
	 -fx-background-color: 
		 	#000000,
	        linear-gradient(#7ebcea, #2f4b8f),
	        linear-gradient(#426ab7, #263e75),
	        linear-gradient(#395cab, #223768);
	    -fx-background-insets: 0,1,2,3;
	    -fx-background-radius: 3,2,2,2;
	    -fx-padding: 10 30 10 30;
	    -fx-text-fill: white;
	    -fx-font-size: 12px;
}

.toolbar{
	 -fx-background-color: 
		   #000000,
	        linear-gradient(#7ebcea, #2f4b8f),
	        linear-gradient(#426ab7, #263e75),
	        linear-gradient(#395cab, #223768);
}


.choiceBox{
	-fx-padding: 5;
	-fx-font-size: 12px;
	-fx-pref-width: 120px;
}

